body {
  margin: 0;
  font-size: 0;
  background-color: black;
  font-family: monospace;
}
canvas {
  width: 100%;
  height: 100%;
}
#subtitles {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 500px;
  z-index: 1;
}
#hint {
  text-shadow: 1px 1px 10px white, 1px 1px 5px white;
  font-size: 18px;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 1em;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 500px;
  z-index: 1;
}
.note {
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  text-align: center;
  flex-direction: column;
}
.note p {
  max-width: 500px;
  font-size: 12px;
}
.hide-note .note {
  display: none;
}
#progress-bar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 5px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width .2s;
}
#progress-bar.hide-bar {
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}
#lung-indicator {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 40px;
  --size: 50px;
  --icon-size: 20px;
  --blood: red;
}
#lung-indicator::before, #lung-indicator::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
#lung-indicator::before {
  width: var(--size);
  height: var(--size);
  border: 2px solid white;
  border-radius: 50%;
  background-color: var(--blood);
}
#lung-indicator::after {
  width: 50px;
  height: 50px;
  background-image: url('./lungs.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--icon-size);
}
.hide-lungs #lung-indicator {
  display: none;
}
