#touch-ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.using-touch #touch-ui {
  display: block;
}
.using-touch #key-hint {
  display: none;
}

#touch-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 40px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.1);
  opacity: 0.5;
  pointer-events: none;
}
.can-move #touch-circle {
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.moving::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.1);
  left: var(--x);
  top: var(--y);
}

.button-wrapper {
  padding: 10px;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}
.touch-button {
  display: none;
  border: 3px solid rgba(0, 162, 198, 0.3);
  color: white;
  background-color: rgba(0, 162, 198, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s;
}
.available {
  display: inline-block;
}
.pressed {
  background-color: rgba(0, 162, 198, 0.6);
  transform: scale(1.2);
}
.touch-icon {
  display: inline-block;
  width: 32px;
  height: 36px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  vertical-align: middle;
  margin: -5px;
  pointer-events: none;
}
.pose-icon {
  background-image: url('./images/poses.svg');
}
.sim-phone { background-position-x: 25%; }
.sim-power-up { background-position-x: 50%; }
.sim-power-down { background-position-x: 75%; }
.sim-reset { background-position-x: 0; }
.sim-exp-up { background-image: url('./images/exp-up.svg'); }
.sim-exp-down { background-image: url('./images/exp-down.svg'); }
.options-btn {
  border-color: rgba(127, 127, 127, 0.3);
  background-color: rgba(127, 127, 127, 0.3);
}
.options-btn.pressed {
  background-color: rgba(127, 127, 127, 0.6);
}
.options-icon {
  width: 36px;
  background-image: url('./images/settings-icon.svg');
}

.using-touch #lung-indicator {
  margin: 80px;
  transform: scale(1.5);
}
.using-touch .pose-indicator {
  bottom: 160px;
  right: 55px;
}
#breathe-interaction {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 160px;
  flex-direction: column;
}
.hide-lungs #breathe-interaction {
  display: none;
}
.breath-direction {
  display: flex;
  flex: auto;
  pointer-events: none;
  margin: 10px;
}
.inhale-label {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 0;
  padding-bottom: 10px;
  flex-direction: column;
}
.exhale-label {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 0;
  padding-top: 10px;
  flex-direction: column-reverse;
}
.inhaling .inhale-label,
.exhaling .exhale-label {
  background-color: rgba(255, 255, 255, 0.2);
}
.breath-dir-icon {
  flex: auto;
  opacity: 0.5;
  background-image: url('./images/breathe-dir.svg');
  background-size: 24px;
  background-position: center 30%;
  background-repeat: no-repeat;
  transition: all .2s;
}
.exhale-label .breath-dir-icon {
  transform: scaleY(-1);
}
.inhaling .inhale-label .breath-dir-icon,
.exhaling .exhale-label .breath-dir-icon {
  opacity: 1;
  background-position-y: 0;
}
.breath-label {
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
  transition: opacity .5s;
}
.breathing .breath-label {
  opacity: 0;
}
